ion-content {
  background: linear-gradient(to right, #b2c7cf, #b1deec, #406474);
}

h2 {
  color: #2c5364;
  text-align: center;
}

p {
  text-align: justify;
  font-family: 'Segoe UI', Tahoma, Verdana, Geneva, Tahoma, sans-serif;
  font-size:
}

a {
  color: #37460f;
  }

button {
    display: block;
    margin: auto;
    background:linear-gradient(to bottom, #a8c0ff, #3f2b96); ;
  }

h4 {
    font-size: small;
    color: #fc4a1a;
    text-align: center;
  }